[flake8]
max-line-length = 255

ignore=
    D1,
    W503
    W293
    W291
    E121
    E231

exclude=
    .tox
    __pycache__
    .pyc
    .git
    .gitignore
    .ts
    .js
    .md

filename=
    Bilibili.py
    damuku/parserDamuku.py